.card{
    height:100px;
    width:50%;
    background-color: blue;
    color: black;
    font-size: smaller;
}
.card-big{
   width: 100%;
   height: 50px; 
   background-color: brown;
   color: aliceblue;
}
.button{
    color: red;
}